extends layout

append stuff
  // javascript:
    <thing>.toString() exists*
    me:
    ''+<thing>
  .content.page-middle
    .article
      .page-middle(style="font-family:'Consolas'; position: absolute;width:300px")
        a(href='/') something went wrong. go back?