extends layout

append stuff
    //
        the reason that the comment on the main page is what it is is because i was listening to the song thats from while writing the code for that page
    .content
        .article
            .center
            div(style="display: inline-block; font-family:'Consolas'; margin-left:20px; position: absolute;width:300px")
                | chatsy
        .media(height='20px')
            a(href='https://chatsy.chat' style='color: dodgerblue;')
                i.fas.fa-globe(style='margin: auto; display: inline-block; margin:5px 5px 5px 5px;' aria-hidden='true')
        br(height='50px')
        .article
            .center
            div(style="display: inline-block; font-family:'Consolas'; margin-left:20px; position: absolute;width:300px")
                | revived portal 2 speedrun mod
        .media(height='20px')
            a(href='https://overcast.got-hacked.rip/p2srMod' style='color: dodgerblue;')
                i.fas.fa-globe(style='margin: auto; display: inline-block; margin:5px 5px 5px 5px;' aria-hidden='true')
        br(height='50px')
        .article
            .center
            div(style="display: inline-block; font-family:'Consolas'; margin-left:20px; position: absolute;width:300px")
                | r/place rick roll qr code
        .media(height='20px')
            a(href='https://discord.gg/UjsteqkQcK' style='color: dodgerblue;')
                i.fa-brands.fa-discord(style='margin: auto; display: inline-block; margin:5px 5px 5px 5px;')
                div